[submodule "vendor/yyjson/yyjson"]
	path = vendor/yyjson/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "vendor/reflect-cpp/reflect-cpp"]
	path = vendor/reflect-cpp/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "vendor/cli11/CLI11"]
	path = vendor/cli11/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "vendor/universal-cslib/universal-cslib"]
	path = vendor/universal-cslib/universal-cslib
	url = https://github.com/angryzor/universal-cslib.git
